<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" *ngIf="is_editting">
        <div class="card-header">
            Author Form
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <input type="search" class="form-control" autofocus placeholder="Type name here" [(ngModel)]="currentProduct.name">
                </div>
                <div class="form-group col-md-6">
                    <input type="search" class="form-control" autofocus placeholder="Type description here" [(ngModel)]="currentProduct.description">
                </div>
                <div class="form-group col-md-2">
                    <input type="number" class="form-control" autofocus placeholder="Type price here" [(ngModel)]="currentProduct.price">
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary" (click)="save()">Save</button>
                    <button class="btn btn-danger" (click)="is_editting = false">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card" *ngIf="!is_editting">
        <div class="card-header">
            Filter
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-10">
                    <input type="search" class="form-control" autofocus placeholder="Filter by description here..." [(ngModel)]="description_filter">
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary" (click)="filter()">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>
                <button class="btn btn-success" (click)="is_editting = true">New Product</button>
                <button *ngIf="!confirmation" class="btn btn-success" (click)="sort()">Order</button>
                <button *ngIf="confirmation" class="btn btn-success" (click)="sort()">Disorder</button>
            </th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(product)">Delete</button>
            </td>
        </tr>
    </table>    
</body>
</html>
