
<div class="card" *ngIf="is_editting">
    <div class="card-header">
        Author Form
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" autofocus placeholder="Type name here" [(ngModel)]="currentBook.name">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" autofocus placeholder="Type description here" [(ngModel)]="currentBook.description">
            </div>
            <div class="form-group col-md-1"></div>
            <div class="">Price:</div>
            <div class="form-group col-md-1">
                <input type="number" class="form-control" autofocus placeholder="Type price here" [(ngModel)]="currentBook.price">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <select name="miselect" [(ngModel)]="currentAuthor.name" >
                    <option [value]="author.name" *ngFor="let author of authors">{{author.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary" (click)="save()">Save</button>
                <button class="btn btn-danger" (click)="is_editting = false">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card" *ngIf="!is_editting">
    <div class="card-header">
        Filter
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-10">
                <input type="search" class="form-control" autofocus placeholder="Filter by name here..." [(ngModel)]="name_filter">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary" (click)="filter()">Filter</button>
            </div>
        </div>
    </div>
</div> -->

<br>
<br>
<br>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Author</th>

        <th>
            <button class="btn btn-success" (click)="is_editting = true">New Book</button>
        </th>
    </tr>
    <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.description}}</td>
        <td>{{book.price}}</td>
        <td>{{book.author.name}}</td>
        <td>
            <button class="btn btn-warning mr-2" (click)="edit(book)">Edit</button>
            <button class="btn btn-danger" (click)="delete(book)">Delete</button>
        </td>
    </tr>
</table>